<section class="min-vh-100 bg-opacity-25 bg-danger d-flex">
    <div class="container-fluid min-vh-100">
        <div class="col-10 mx-auto h-100">
            <div class="d-flex flex-column h-100">
                <div class="bg-white border border-secondary rounded-bottom-4 px-4 p-2">
                    <app-menu logoLink="/student/profile" logoStyle="poziomka-logo">
                        <li class="nav-item ms-lg-4 my-1 my-lg-0">
                            <a class="nav-link active btn d-inline" (click)="onFormsClick()">Ankiety</a>
                        </li>
                        <li class="nav-item ms-lg-4 my-1 my-lg-0">
                            <a class="nav-link active btn d-inline" (click)="onApplicationsClick()">Wnioski</a>
                        </li>
                        <li class="nav-item ms-lg-4 my-1 my-lg-0">
                            <a class="nav-link active btn d-inline" (click)="onProfileClick()">Profil</a>
                        </li>
                        
                        <li class="nav-item ms-lg-4 my-1 my-lg-0">
                            <a class="nav-link active btn d-inline" (click)="logout()">Wyloguj się</a>
                        </li>
                    </app-menu>
                </div>
                <div class="bg-white border border-secondary rounded-4 h-100 my-5">
                    <router-outlet />
                </div>
            </div>
        </div>
    </div>
</section>