<app-centered-card [configuration]="CardConfiguration.PrimaryLeft" backgroundColor="bg-primary">
  <div id="secondary-card">
      <img class="w-100" src="images/poziomka_splash_blue.png" />
  </div>
  <div id="primary-card" class="py-md-5 px-5 mx-md-4">
    <div class="card-body p-5">
      <div class="text-center mb-4">
        <h1 class="mt-1 pb-1">Profil Administratora</h1>
        <hr>
      </div>

      <div class="mb-4">
        <h4>Email:</h4>
        <p>{{ admin()?.email }}</p>
      </div>
      
      <div class="text-center mt-4">
        <button class="btn btn-primary me-3" (click)="goToDashboard()">Powrót do dashboardu</button>
        <button class="btn btn-danger" (click)="logout()">Wyloguj się</button>
      </div>

      <!-- Komunikaty -->
      <div *ngIf="errorMessage()" class="alert alert-danger mt-3">{{ errorMessage() }}</div>
    </div>
  </div>
</app-centered-card>
