<section class="vh-100 bg-primary bg-opacity-25">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8">
          <div class="card rounded-3 text-black">
            <div class="card-body p-5">
              <div class="text-center mb-4">
                <h1 class="mt-1 pb-1">Profil Administratora</h1>
                <hr>
              </div>
  
              <div class="mb-4">
                <h4>Email:</h4>
                <p>{{ admin()?.email }}</p>
              </div>
              
              <div class="text-center mt-4">
                <button class="btn btn-primary me-3" (click)="goToDashboard()">Powrót do dashboardu</button>
                <button class="btn btn-danger" (click)="logout()">Wyloguj się</button>
              </div>
  
              <!-- Komunikaty -->
              <div *ngIf="errorMessage()" class="alert alert-danger mt-3">{{ errorMessage() }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
  