<section class="vh-100 bg-danger bg-opacity-25">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xxl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-12 col-xl-6 px-0 px-md-5 px-xl-0">
                            <div class="card-body py-md-5 px-5 mx-md-4">
                                
                                <div class="text-center mb-4">
                                    <h1 class="poziomka-logo mt-1 pb-1">PoZiomka</h1>
                                    <hr>
                                    <h3 class="mt-5">Zaloguj się jako student</h3>
                                </div>

                                <form>
                                    <div class="form-outline form-floating mb-4">
                                        <input type="email" id="emailTextField" class="form-control" placeholder="" />
                                        <label class="form-label" for="emailTextField">Email</label>
                                    </div>

                                    <div class="form-floating mb-4">
                                        <input type="password" id="passwordTextField" class="form-control" placeholder=""/>
                                        <label class="form-label" for="passwordTextField">Hasło</label>
                                    </div>

                                    <div class="d-flex justify-content-between pe-3 mb-4">
                                        <a class="text-muted" href="#!">Zapomniałeś hasła?</a>
                                        <button class="btn btn-danger px-4" type="button">Zaloguj się</button>
                                    </div>

                                    <div class="row mb-4 gx-3 pt-3">
                                        <div class="col"><hr></div>
                                        <div class="col-auto"><h6 class="mb-0 mt-1">lub</h6></div>
                                        <div class="col"><hr></div>
                                    </div>

                                    <div class="pb-4 mx-auto">
                                        <div class="col">
                                            <div class="text-center mb-5">
                                                Nie masz jeszcze konta? <a class="text-muted" href="/signup">Zarejestruj się</a>
                                            </div>
                                            <div class="text-center">
                                                <button type="button" class="btn btn-outline-danger">Zaloguj się jako administrator</button>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <div class="col-xl-6 d-none d-xl-flex">
                            <img class="w-100" src="images/poziomka-splash.jpg"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>