<app-centered-card [configuration]="CardConfiguration.PrimaryLeft" backgroundColor="bg-danger">
    <div id="secondary-card">
        <img class="w-100" src="images/poziomka-splash.jpg" />
    </div>
    <div id="primary-card" class="py-3 py-md-5 px-5 mx-md-4">
        <div class="text-center mb-4">
            <h1 class="poziomka-logo mt-1 pb-1">PoZiomka</h1>
            <hr>
            <h3 class="mt-5">Zaloguj się jako student</h3>
        </div>

        <form [formGroup]="loginForm">
            <div class="form-outline form-floating mb-4">
                <input type="email" id="emailTextField" class="form-control" placeholder=""
                       formControlName="email" [ngClass]="emailInvalid ? 'is-invalid' : ''"/>
                <label class="form-label" for="emailTextField">Email</label>
            </div>

            <div class="form-floating mb-4">
                <input type="password" id="passwordTextField" class="form-control" placeholder=""
                       formControlName="password" [ngClass]="passwordInvalid ? 'is-invalid' : ''"/>
                <label class="form-label" for="passwordTextField">Hasło</label>
            </div>

            <!-- Obsługa błędów -->
            <div class="text-danger mt-3" [ngClass]="error() === undefined ? 'invisible' : ''">
                {{ error() ?? 'error placeholder' }}
            </div>

            <div class="d-flex justify-content-between pe-3 mb-4">
                <a class="text-muted" href="/password-reset">Zapomniałeś hasła?</a>
                <button class="btn btn-danger px-4" type="button" (click)="onLoginButtonClick()">
                    Zaloguj się
                </button>
            </div>

            <div class="row mb-4 gx-3 pt-3">
                <div class="col"><hr></div>
                <div class="col-auto"><h6 class="mb-0 mt-1">lub</h6></div>
                <div class="col"><hr></div>
            </div>

            <div class="mx-auto">
                <div class="col">
                    <div class="text-center mb-5">
                        Nie masz jeszcze konta? <a class="text-muted" href="/signup">Zarejestruj się</a>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-outline-danger" href="/admin-login">Zaloguj się jako administrator</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</app-centered-card>