<app-centered-card [configuration]="CardConfiguration.PrimaryLeft" backgroundColor="bg-primary">
    <div id="secondary-card">
        <img class="w-100" src="images/poziomka_splash_blue.jpg" />
    </div>
    <div id="primary-card" class="py-2 py-md-5 px-5 mx-md-4">
        <div class="text-center mb-4">
            <h1 class="poziomka-logo-blue mt-1 pb-1">PoZiomka Admin</h1>
            <hr>
            <h3 class="mt-5">Zaloguj się jako administrator</h3>
        </div>

        <form [formGroup]="loginForm" (keydown.enter)="onLoginButtonClick()">
            <div class="form-outline form-floating mb-4">
                <input type="email" id="emailTextField" class="form-control" placeholder="" formControlName="email" [ngClass]="emailInvalid ? 'is-invalid' : ''" />
                <label class="form-label" for="emailTextField">Email</label>
            </div>

            <div class="form-floating mb-4">
                <input type="password" id="passwordTextField" class="form-control" placeholder="" formControlName="password" [ngClass]="passwordInvalid ? 'is-invalid' : ''" />
                <label class="form-label" for="passwordTextField">Hasło</label>
            </div>

            <div class="text-danger mt-3 mb-2" [ngClass]="error() === undefined ? 'invisible' : ''">
                {{ error() ?? 'error placeholder' }}
            </div>

            <app-loading-button [class]="'btn-primary px-4 px-4 ms-auto'" [isLoading]="isLoading()" (clicked)="onLoginButtonClick()">
                Zaloguj się
            </app-loading-button>

            <div class="row mb-4 gx-3 pt-2">
                <div class="col"><hr></div>
                <div class="col-auto"><h6 class="mb-0 mt-1">lub</h6></div>
                <div class="col"><hr></div>
            </div>

            <div class="text-center">
                <a class="btn btn-outline-primary" href="/login">Zaloguj się jako student</a>
            </div>
        </form>
    </div>
</app-centered-card>