<div class="container mt-5 px-5">
    <div class="row d-flex flex-row justify-content-between">
        <h1 class="col">Lista Ankiet</h1>
        <div class="col col-auto align-self-end">
            <button class="btn btn-primary" (click)="onAddFormClick()">Dodaj Ankietę<i class="ms-2 bi bi-plus-circle"></i></button>
        </div>
    </div>
    <hr class="mb-5">
    <div class="p-3 d-flex flex-column">
        @for (form of forms(); track form.id) {
            <div class="btn btn-light border py-4 m-2 rounded-2 shadow" (click)="onFormClick(form.id)">
                <h5 class="m-0">{{ form.title }}</h5>
            </div>
        }
    </div>
</div>