<div class="py-3 py-md-5 px-5 mx-md-4">
    <h1 class="text-center mt-1">Twój Profil</h1>
    <hr>

    <div class="p-5">
        <!-- Komunikat canFillForms -->
        <div *ngIf="student">
            <div class="alert" [ngClass]="student.canFillForms ? 'alert-success' : 'alert-danger'">
                {{ student.canFillForms ? 'Możesz wypełniać formularze' : 'Nie możesz wypełniać formularzy' }}
            </div>
        </div>

        <!-- Tryb Wyświetlania -->
        <div *ngIf="!isEditingData()">
            <div class="mb-4">
                <h4>Imię i nazwisko:</h4>
                <p>{{ student?.firstName }} {{ student?.lastName }}</p>
            </div>

            <div class="mb-4">
                <h4>Email:</h4>
                <p>{{ student?.email }}</p>
            </div>

            <div class="mb-4 d-flex align-items-center justify-content-between">
                <div>
                    <h4>Numer Indeksu:</h4>
                    <p>{{ student?.isIndexNumberHidden ? 'Ukryte' : student?.indexNumber }}</p>
                </div>
            </div>

            <div class="mb-4 d-flex align-items-center justify-content-between">
                <div>
                    <h4>Telefon:</h4>
                    <p>{{ student?.isPhoneNumberHidden ? 'Ukryte' : student?.phoneNumber }}</p>
                </div>
            </div>

            <div class="text-center mt-4">
                <button class="btn btn-primary me-3" (click)="toggleDataEdit()">Edytuj dane</button>
                <app-loading-button [isLoading]="isLoading()" (clicked)="deleteAccount()" class="btn-danger me-2">
                    Usuń konto
                </app-loading-button>
            </div>
        </div>

        <!-- Tryb Edycji Danych -->
        <form *ngIf="isEditingData()" [formGroup]="dataForm" (ngSubmit)="updateData()">
            <div class="mb-3 d-flex justify-content-between">
                <!-- Imię -->
                <div class="w-50">
                    <label class="form-label">Imię</label>
                    <input class="form-control" formControlName="firstName" maxlength="30">
                    <small class="text-danger" *ngIf="dataForm.get('firstName')?.value?.length === 30">
                    Imię może mieć maksymalnie 30 znaków
                    </small>
                </div>
                
                <!-- Nazwisko -->
                <div class="w-50">
                    <label class="form-label">Nazwisko</label>
                    <input class="form-control" formControlName="lastName" maxlength="30">
                    <small class="text-danger" *ngIf="dataForm.get('lastName')?.value?.length === 30">
                    Nazwisko może mieć maksymalnie 30 znaków
                    </small>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" formControlName="email" readonly>
            </div>

            <div class="mb-3 d-flex align-items-center justify-content-between">
                <div class="w-50">
                    <label class="form-label">Numer indeksu</label>
                    <input class="form-control" formControlName="indexNumber">
                </div>
                <div class="d-flex align-items-center" *ngIf="isEditingData()">
                    <input type="checkbox" class="form-check-input" formControlName="isIndexNumberHidden">
                    <label class="form-check-label ms-2">Ukryj numer indeksu</label>
                </div>
            </div>

            <div class="mb-3 d-flex align-items-center justify-content-between">
                <div class="w-50">
                    <label class="form-label">Numer telefonu</label>
                    <input class="form-control" formControlName="phoneNumber">
                </div>
                <div class="d-flex align-items-center" *ngIf="isEditingData()">
                    <input type="checkbox" class="form-check-input" formControlName="isPhoneNumberHidden">
                    <label class="form-check-label ms-2">Ukryj numer telefonu</label>
                </div>
            </div>

            <div class="text-center mt-4">
                <app-loading-button [isLoading]="isLoading()" (clicked)="updateData()" class="btn-success me-2" [isDisabled]="dataForm.invalid">
                    Zapisz
                </app-loading-button>
                <button type="button" class="btn btn-secondary" (click)="toggleDataEdit()" [disabled]="isLoading()">Anuluj</button>
            </div>
        </form>

        <!-- Komunikaty -->
        <div *ngIf="errorMessage()" class="alert alert-danger mt-3">{{ errorMessage() }}</div>
        <div *ngIf="successMessage()" class="alert alert-success mt-3">{{ successMessage() }}</div>
    </div>
</div>
