<section class="min-vh-100 bg-primary bg-opacity-25">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xxl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-12 col-xl-6 px-0 px-md-5 px-xl-0">
                            <div class="card-body py-md-5 px-5 mx-md-4">
                                
                                <div class="text-center mb-4">
                                    <h1 class="poziomka-logo-blue mt-1 pb-1">PoZiomka Admin</h1>
                                    <hr>
                                    <h3 class="mt-5">Zaloguj się jako administrator</h3>
                                </div>

                                <form [formGroup]="loginForm">
                                    <div class="form-outline form-floating mb-4">
                                        <input type="email" id="emailTextField" class="form-control" placeholder="" formControlName="email" [ngClass]="emailInvalid ? 'is-invalid' : ''" />
                                        <label class="form-label" for="emailTextField">Email</label>
                                    </div>

                                    <div class="form-floating mb-4">
                                        <input type="password" id="passwordTextField" class="form-control" placeholder="" formControlName="password" [ngClass]="passwordInvalid ? 'is-invalid' : ''" />
                                        <label class="form-label" for="passwordTextField">Hasło</label>
                                    </div>

                                    <div class="d-flex justify-content-between pe-3 mb-4">
                                        <a class="text-muted" href="/password-reset">Zapomniałeś hasła?</a>
                                        <button class="btn btn-primary px-4" type="button" (click)="onLoginButtonClick()">Zaloguj się</button>
                                    </div>

                                    <div class="row mb-4 gx-3 pt-3">
                                        <div class="col"><hr></div>
                                        <div class="col-auto"><h6 class="mb-0 mt-1">lub</h6></div>
                                        <div class="col"><hr></div>
                                    </div>

                                    <div class="text-center mb-5">
                                        <a class="text-muted" href="/login">Zaloguj się jako student</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-xl-6 d-none d-xl-flex">
                            <img class="w-100" src="images/poziomka_splash_blue.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>