<div class="mh-100 w-100 container py-5 mx-auto px-3 px-md-5 col">
    <div class="row d-flex flex-row justify-content-between">
        <h1 class="col">Lista Pokojów</h1>
        <div class="col col-auto align-self-end">
            <button class="btn btn-primary" (click)="onAddRoomClick()">Dodaj Pokój<i class="ms-2 bi bi-house-add"></i></button>
        </div>
    </div>
    <hr class="mb-5">
    
    <form class="col-xl-8 bg-secondary bg-opacity-25 row mb-3 mx-0 py-2 rounded-3 border gx-lg-4 gx-2">
        <div class="col-md mb-md-0 mb-2">
            <input class="form-control" type="text" name="roomNumber" placeholder="Numer" [(ngModel)]="roomNumber" >
        </div>
        <div class="col-md mb-md-0 mb-2">
            <input class="form-control" type="text" name="floor" placeholder="Piętro" [(ngModel)]="roomFloor" >
        </div>
        <div class="col-md">
            <select class="form-select" name="status" [(ngModel)]="roomStatus">
                <option [ngValue]="undefined">Każdy status</option>
                @for (status of RoomStatus | enum; track $index) {
                    <option [class]="`text-${roomStatusToColorString(status)}`" [ngValue]="status">{{ roomStatusToString(status) }}</option>
                }
            </select>
        </div>
        </form>
        
    <div class="border rounded-3 px-3 pt-4 pb-5">
        <div class="px-2 mx-auto row align-items-start">
            @for (room of rooms(); track room.id) {
                <button type="button" class="col col-auto m-3 card p-0 btn btn-light" (click)="onRoomClick(room)">
                    <div class="card-header">
                        <h3><i class="me-3 bi bi-house"></i>{{room.number}}</h3>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            Piętro: {{ room.floor }}
                        </h4>
                        <h6 class="card-text">
                            Zajęte Miejsca: {{ room.studentIds.length }}/{{ room.capacity }}
                        </h6>
                    </div>
                    <div class="card-footer bg-opacity-25"
                    [ngClass]="`bg-${roomStatusToColorString(room.status)} text-${roomStatusToColorString(room.status)} border-${roomStatusToColorString(room.status)}`">
                        <h5 class="m-0">{{ roomStatusToString(room.status) }}</h5>
                    </div>
                </button>
            } @empty {
                <h3>Brak pokojów odpowidających zastosowanym filtrom</h3>
            }
        </div>
    </div>
</div>

@if (isAddingRoom()) {
    <app-room-add (hide)="onAddRoomCancelClick()"/>
}

@if (selectedRoomId() !== undefined) {
    <app-room-details (hide)="onRoomDeselect()" [roomId]="selectedRoomId()!" [students]="students()" />
}
