<section class="vh-100 bg-danger bg-opacity-25">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xxl-10">
                <div class="card rounded-3 text-black">
                    <div class="card-body py-md-5 px-5 mx-md-4">
                        
                        <div class="text-center mb-4">
                            <h1 class="poziomka-logo mt-1 pb-1">Resetowanie hasła</h1>
                            <hr>
                        </div>

                        <form [formGroup]="resetForm">
                            <div class="form-outline form-floating mb-4">
                                <input type="password" id="passwordTextField" class="form-control"
                                       formControlName="password" [ngClass]="isSubmitted() && resetForm.controls.password.invalid ? 'is-invalid' : ''" />
                                <label class="form-label" for="passwordTextField">Nowe hasło</label>
                            </div>

                            <div class="text-danger mt-3" [ngClass]="errorMessage() ? '' : 'invisible'">
                                {{ errorMessage() ?? 'error placeholder' }}
                            </div>
                            <div class="text-success mt-3" [ngClass]="successMessage() ? '' : 'invisible'">
                                {{ successMessage() ?? 'success placeholder' }}
                            </div>

                            <div class="d-flex justify-content-between pe-3 mb-4">
                                <button class="btn btn-danger px-4" type="button" (click)="onResetPassword()">Zmień hasło</button>
                            </div>
                        </form>

                        <div class="text-center mt-4">
                            <a class="text-muted" href="/login">Powrót do logowania</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
