<section class="min-vh-100 bg-danger bg-opacity-25">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xxl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-12 col-xl-6 px-0 px-md-5 px-xl-0">
                            <div class="card-body py-md-5 px-5 mx-md-4">
                                
                                <div class="text-center mb-4">
                                    <h1 class="poziomka-logo mt-1 pb-1">PoZiomka</h1>
                                    <hr>
                                    <h3 class="mt-5">Resetowanie hasła</h3>
                                    <p class="text-muted">Podaj swój adres e-mail, aby otrzymać link resetujący hasło.</p>
                                </div>

                                <form [formGroup]="resetForm">
                                    <div class="form-outline form-floating mb-4">
                                        <input type="email" id="emailTextField" class="form-control" formControlName="email"
                                            [ngClass]="emailInvalid ? 'is-invalid' : ''" />
                                        <label class="form-label" for="emailTextField">Email</label>
                                    </div>

                                    <div class="text-danger mt-3" [ngClass]="errorMessage() === undefined ? 'invisible' : ''">
                                        {{ errorMessage() ?? 'error placeholder' }}
                                    </div>
                                    <div class="text-success mt-3" [ngClass]="successMessage() === undefined ? 'invisible' : ''">
                                        {{ successMessage() ?? 'success placeholder' }}
                                    </div>

                                    <div class="d-flex justify-content-between pe-3 mb-4">
                                        <button class="btn btn-danger px-4" type="button" (click)="onResetPassword()">Wyślij link resetujący</button>
                                    </div>

                                    <div class="text-center mt-4">
                                        <a class="text-muted" href="/login">Powrót do logowania</a>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <div class="col-xl-6 d-none d-xl-flex">
                            <img class="w-100" src="images/poziomka-splash.jpg"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>