<div class="mh-100 w-100 container py-5 mx-auto px-3 px-md-5 col d-flex flex-column">
  <div class="row d-flex flex-row justify-content-between">
    <h1 class="col">Lista Wniosków</h1>
  </div>
  <hr class="mb-5">

  <!-- Formularz filtrów -->
  <form class="col-xl-8 bg-secondary bg-opacity-25 row mb-3 mx-0 py-2 rounded-3 border gx-lg-4 gx-2">
    <div class="col-md mb-md-0 mb-2">
      <input class="form-control" type="text" name="studentEmail" placeholder="Email studenta" [(ngModel)]="studentEmail" >
    </div>
    <div class="col-md mb-md-0 mb-2">
      <input class="form-control" type="text" name="applicationType" placeholder="Typ aplikacji" [(ngModel)]="applicationType" >
    </div>
    <div class="col-md">
      <select class="form-select" name="status" [(ngModel)]="applicationStatus" (change)="loadApplications()">
        <option [ngValue]="undefined">Każdy status</option>
        <option [ngValue]="ApplicationStatus.pending">Oczekujące</option>
        <option [ngValue]="ApplicationStatus.accepted">Zaakceptowane</option>
        <option [ngValue]="ApplicationStatus.rejected">Odrzucone</option>
      </select>
    </div>
  </form>

  <div class="border rounded-3 px-3 pt-4 pb-5">
    <div class="px-2 mx-auto row align-items-start">
      <div *ngFor="let application of filteredApplications()">
        <button type="button" class="col col-auto m-3 card p-0 btn btn-light" (click)="onApplicationClick(application)">
          <div class="card-header">
            <h3><i class="me-3 bi bi-file-earmark"></i>{{ application.id }}</h3>
          </div>
          <div class="card-body">
            <h4 class="card-title">
              Typ: {{ application.applicationType.name }}
            </h4>
            <p class="card-text">
              Status: {{ applicationStatusText(application.applicationStatus) }}
            </p>
          </div>
          <div class="card-footer bg-opacity-25"
               [ngClass]="`bg-${application.applicationStatus} text-${application.applicationStatus} border-${application.applicationStatus}`">
            <h5 class="m-0">{{ applicationStatusText(application.applicationStatus) }}</h5>
          </div>
        </button>
      </div>
      <div *ngIf="filteredApplications().length === 0">
        <h3>Brak wniosków odpowiadających zastosowanym filtrom</h3>
      </div>
    </div>
  </div>
</div>





@if (selectedApplication() !== undefined) {
    <app-popup (outsideClicked)="onHide()" (closeClicked)="onHide()" [size]="'lg'">
      <div class="col p-5 overflow-auto" style="min-height: 70vh;">
        <div class="row">
          <div class="col d-flex flex-column">
            <h3>Aplikacja #{{ selectedApplication()!.id }}</h3>
            <h6>Typ: {{ selectedApplication()!.applicationType.name }}</h6>
          </div>
          <div class="row justify-content-between mt-3">
            <div class="col-auto">
              <div class="text-center rounded border py-1 px-3 bg-opacity-25"
                [ngClass]="{
                  'bg-secondary text-secondary border-secondary': selectedApplication()!.applicationStatus === ApplicationStatus.pending,
                  'bg-success text-success border-success': selectedApplication()!.applicationStatus === ApplicationStatus.accepted,
                  'bg-danger text-danger border-danger': selectedApplication()!.applicationStatus === ApplicationStatus.rejected
                }">
                <h5 class="m-0">
                  {{ applicationStatusText(selectedApplication()!.applicationStatus) }}
                </h5>
              </div>
            </div>
            <div class="col-auto d-flex gap-2">
              <button
                class="btn btn-danger"
                (click)="onApplicationResolve(selectedApplication()!, ApplicationStatus.rejected)">
                Odrzuć
              </button>
              <button
                class="btn btn-success"
                (click)="onApplicationResolve(selectedApplication()!, ApplicationStatus.accepted)">
                Zaakceptuj
              </button>
              <button class="btn btn-outline-primary" (click)="onDownloadFile()">Pobierz plik</button>
            </div>
          </div>
        </div>
  
        <hr class="my-4">
  
        <div class="row mt-3">
          <div class="col">
            <h5>Dodatkowe dane aplikacji:</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>ID studenta:</strong> {{ selectedApplication()!.studentId }}</li>
              <li class="list-group-item"><strong>Opis:</strong> Brak opisu</li>
            </ul>
          </div>
        </div>
      </div>
    </app-popup>
  }