<app-centered-card [configuration]="CardConfiguration.PrimaryRight" backgroundColor="bg-danger">
    <div id="secondary-card">
        <img class="w-100" src="images/poziomka-splash.jpg" />
    </div>
    <div id="primary-card" class="py-3 py-md-5 px-5 mx-md-4">
        <div class="text-center mb-4">
            <h1 class="poziomka-logo mt-1 pb-1">PoZiomka</h1>
            <hr>
            <h3 class="mt-5">Zarejestruj się w systemie</h3>
        </div>

        <form class="my-auto" [formGroup]="signupForm">
            <div class="form-outline form-floating mb-4">
                <input type="email" id="emailTextField" class="form-control" placeholder="" formControlName="email" [ngClass]="emailInvalid ? 'is-invalid' : ''" />
                <label class="form-label" for="emailTextField">Email</label>
            </div>

            <div class="form-floating">
                <input type="password" id="passwordTextField" class="form-control" placeholder="" formControlName="password" [ngClass]="passwordInvalid ? 'is-invalid' : ''" />
                <label class="form-label" for="passwordTextField">Hasło</label>
            </div>

            <div class="text-danger mt-3" [ngClass]="error() === undefined ? 'invisible' : ''">
                {{error() ?? 'error placeholder'}}
            </div>

            <div class="d-flex justify-content-between align-items-center px-3 my-4">
                <a class="text-muted" href="#" (click)="navigateToLogin()">Powrót do logowania</a>
                <app-loading-button [isLoading]="isLoading()" class="btn-danger" (clicked)="onRegisterButtonClick()">
                    Zarejestruj się
                </app-loading-button>
            </div>
        </form>
    </div>
</app-centered-card>